.wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 130px 130px;
  grid-template-areas:
      "quote news"
      "dividends news";
  gap: 20px;

  .quote {
    grid-area: quote
  }

  .dividends {
    grid-area: dividends
  }

  .news {
    grid-area: news
  }
}



