.tableTd {
  text-align: left;
  border: none;
  padding: 6px;
  vertical-align: top;
  color:  #4C506B;;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableTr:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.tableTdLoading {
  padding: 20px 0;
  min-width: 150px;
}